.container{
  max-width: 1050px;
  margin: 0 auto 0 auto;
}

header
{

padding: 0px 0;
position: fixed;/*posicion fija*/
top: 0;
left:0;/*pegado a la izquierda*/
z-index: 2; /*para que este encima*/
width: 100%;/*para q ocupe todo el ancho*/
background-color: white;
}

header.container
{ 
display:flex;/*comportamiento flex aprovecha el espacio de este elemento para acomodar a sus hijos*/

justify-content: space-between; /*alinear al eje x los elenentos se acomodan uno a la iz otro a laderecha*/
align-items: center;
}

header .container .logo
{ 
width: 85px;
height: 82px;
}

header .container nav a
{
color: #333;
text-decoration: none;
margin:30px 15px;

}

.fila{
    display:flex;
    /*flex-wrap:wrap;*/
    justify-content: space-between; 
    align-items: center;
    height: 70px;
}

.columna{
    padding-right: 55px;
    padding-left: 55px;

}

nav{
  display: flex;
  align-items: center;
  
}

.columna-50
{
    width: 50%;
}
.columna-50
{
    width: 41.66%;
}



#inicio
{
    position: relative;/*el espacio se mantiene*/
}


#inicio 
{
  background-image: url(img/.img-banner); 
  background-size: cover;
  color: white;
  text-align: center;
}

#servicios
{
    position:relative;
}



#contactenos
{
    position:relative;
}

#contactenos iframe
{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    filter:grayscale(1);

}

#contactenos form
{
padding: 60px;
background-color: red;
}

#contactenos form .form-group
{
width: 100%;
margin-bottom: 15px;
}

#contactenos form .form-group .form-container
{
display: block;
height: 40px;
font-size:16px;
border:1px solid grey;
width:100%;
padding: 5px 10px;
}

#contactenos form .form-group textarea
{
display: block;
height: 100px;
font-size:16px;
border:1px solid grey;
width:100%;
padding: 5px 10px;
}

#contactenos form .form-group
{
margin-bottom: 0;
}

.img-banner{
    width: 100%;
    border: 0.1rem solid #9ca3af;
    border-radius: 0.6rem;
}

.img-card{
    width: 100%;
    height: 50%;
}

.margin-4{
    margin-bottom: 2rem;
}

.card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.card-product{
    border: 0.1rem solid #ccc;
    border-radius: 0.6rem;
    overflow: hidden;
    height: 400px;
    
}

.content-card{
    padding: 8px;
}

.pie{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    
    color: #333;
    padding: 100px 0;
  }
  
.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding: 0 20px; 
  }
  
.hero-image {
    flex: 1;
  }
  
.hero-image img {
    max-width: 100%;
    height: auto;
  }
  
.hero-description {
    padding-left: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.hero h1 {
    font-size: 3em;
   
  }
  
.hero p {
    font-size: 1.0em;
  }

  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
.top-circles,
.bottom-circles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  
.circle-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.contacto-division {
    display: flex;
  }
  
.map-container,
.form-container {
    flex: 1;
    width: 50%;
  }
  
.map-container {
    margin-right: 50px; /* Agregamos margen derecho */
  }
  
.form-container {
    margin-left: 10px; 
  }
  
h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
.form-group {
    margin-bottom: 20px;
  }
  
label {
    display: block;
    font-weight: bold;
  }
  
input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 20px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
textarea {
    resize: vertical;
  }
  
button {
    display: block;
    width: 100% ; 
    margin: 0; 
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
button:hover {
    background-color: #0056b3;
  }
  
.map-container iframe {
    border: none; 
  }  


.card {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
 
  display: flex;
  align-items: center;
  
}


.card h3 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
}


.card p {
  margin-bottom: 0;
  color: #666;
}

.borde{
  border: 0.1rem solid black;
  border-color: black;
}

.footer-info,
.footer-links,
.footer-social,
.footer-subscribe {
  width: 25%;
}

.footer-info h3,
.footer-links h3,
.footer-social h3,
.footer-subscribe h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-info p {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 5px;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-social ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-social ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.footer-subscribe form {
  display: flex;
}

.footer-subscribe input[type="email"] {
  width: 70%;
  padding: 10px;
}

.footer-subscribe button {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.footer-subscribe button:hover {
  background-color: #45a049;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}
.fofo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sidebar {
  width: 30%;
  padding: 20px;
  border-right: #6b7280 solid 0.1rem;
}

.sidebar h2 {
  margin-top: 0;
  font-size: 24px;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}

.sidebar label {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

.sidebar select, .sidebar input[type="range"] {
  width: calc(100% - 20px);
  margin-top: 5px;
  padding: 8px;
  font-size: 16px;
}

.products {
  width: 70%;
  padding: 20px;
}

.products h2 {
  margin-top: 0;
  font-size: 24px;
  color: #007bff;
}

.product {
  display: flex;
}

.product-image {
  flex: 1;
  margin-right: 20px;
}

.product-image img {
  max-width: 100%;
  border-radius: 8px;
}

.product-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product h3 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
}

.product p {
  margin-bottom: 10px;
  font-size: 16px;
}

.price {
  font-weight: bold;
  color: #007bff;
  font-size: 18px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.tienda{
  display: flex;
}